@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

:root{
   --var-primary-color:#FEA301;
   --var-secondary-color:#01ACFD;
   --var-third-color:#111111;
   --var-fourth-color:#F7F7F7;
}

.display-flex{
    display: flex;
}

.centered{
    text-align: center;
}

/* Navbar Section Css */
nav{
    width: 100%;
    height: 92px;
    display: block;
    justify-items: center;
    margin: 0 auto;
    padding:10px 0;
}
 
nav>.nav-width{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 62px;
    height: 62px;
    background-size: cover;
}

nav .logo h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    padding: 10px 0 0 10px;
}

nav .links ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: transform 1s ease-in-out;
}

nav .links ul li:hover{
    color: var(--var-third-color) !important;
    transform: scale(1.1);
}

nav .buttons button{
    width:197px;
    height:50px;
    border-radius: 12px;
    padding: 10px;
    background: var(--var-primary-color);
    color: var(--var-fourth-color);
    font-size: 20px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

nav .buttons button:hover{
    background: var(--var-third-color);
    color: var(--var-fourth-color);
    transform: scale(1.1);
}

nav .buttons i{
    display: none;
}

/* Hero Section Css */
.hero{
    display: grid;
    grid-template-areas:'content image' ;
    gap: 35px;
    max-width:1159px;
    justify-items: center;
    margin: 0 auto;
}

.hero-content{
    grid-area: content;
    padding: 120px 0 20px 0;
}

.hero .img{
    grid-area: image;
    width: 469px;
    height: 575px;
    background-size: cover;
}

.hero-content h1{
    font-size: 56px;
    line-height: 61px;
    font-weight: 700;
}

.hero-content p{
    font-size: 20px;
    line-height: 32px;
    line-height: auto;
    font-weight: 400;
    padding: 20px 0;
}

.hero-content button{
    width:197px;
    height:50px;
    border-radius: 12px;
    padding: 10px;
    background: var(--var-third-color);
    color: var(--var-fourth-color);
    font-size: 20px;
    font-weight:600;
    border: 0;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

.hero-content button:hover{
    background: var(--var-primary-color);
    color: var(--var-fourth-color);
    transform: scale(1.1);
}

/* Marquee Section Css */
marquee{
    background-image: linear-gradient( 555deg, #FEA301,#01ACFD);
    width: 100%;
    padding: 6px;
    color:#fff;
    font-weight: blue;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 0;
}

/* Curriculum Section Css */
.Cur{
    max-width: 100%;
    background: url('assets/bg.png') no-repeat center;
    background-size: cover, cover;
    padding: 35px;
}

.Cur h1{
    font-size:46px;
    line-height: 58px;
    font-weight:700px;
    margin-bottom: 40px;
}

.Cur-content{
    width: 1159px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
}

.Cur-content .content{
    max-width: 368px;
    min-height:476px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    border: none;
    padding: 15px 20px;
}

.Cur-content .content img{
    width: 142px;
    height:142px;
    background-size: cover;
    border-radius: 16px 16px 0 0;
    display: block;
    margin: 0 auto;
}

.Cur-content .content h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    margin: 15px 20px 15px 20px;
    text-align: center;
}

.Cur-content .content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 20px 40px 20px;
}

.Cur-content .content a {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrow{
    justify-content: center;
    margin: 80px 0 20px 0;
}

.arrow i{
    display: block;
    width: 60px;
    height: 60px;
    background: var(--var-primary-color);
    margin-right: 20px;
    font-size: 30px;
    line-height: 40px;
    color: var(--var-fourth-color);
    border-radius: 100%;
    padding: 10px 0 0 21px;
    cursor: pointer;
    animation: 10s linear infinite Round;
}

@keyframes Round{
    0%{
    }

    50%{
        background: var(--var-secondary-color);
    }
    
    100%{
        background: var(--var-primary-color);
    }
}

/* Story Section Css */
.story{
    max-width: 100%;
    background: url('assets/bg.png') no-repeat center, 
    linear-gradient(to top, #ffd284 0%, #FFFFFF 100%);
    background-size: cover, cover;
    padding: 35px;
}

.story h1{
    font-size:46px;
    line-height: 58px;
    font-weight:700px;
    margin-bottom: 40px;
}

.story-content{
    width: 1159px;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
}

.story-content .content{
    background: #ffffff;
    max-width: 530px;
    min-height:640px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    border: none;
}

.story-content .content img{
    width: 100%;
    background-size: cover;
    border-radius: 16px 16px 0 0;
}

.story-content .content span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 47px;
    background: #3CD8E8;
    color:var(--var-fourth-color);
    border-radius: 48px;
    font-family: "Raleway", serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    margin: -30px 20px 40px 15px;
    position: relative;
    z-index: 1;
}

.story-content .content h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    margin: 0px 20px 50px 20px;
}

.story-content .content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 20px 40px 20px;
}

.story .content-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.story-content .content-box .box{
    background: #ffffff;
    max-width: 290px;
    min-height:300px;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    border: none;
}


.story-content .content-box .box img{
    width: 100%;
    background-size: cover;
    border-radius: 16px 16px 0 0;
}

.story-content .content-box .box span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height:38px;
    background: #95B226;
    color:var(--var-fourth-color);
    border-radius: 48px;
    font-family: "Raleway", serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    margin: -20px 20px 30px 15px;
    position: relative;
    z-index: 1;
}


.story-content .content-box .box h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px 20px 30px 20px;
}

.story button{
    width:197px;
    height:50px;
    border-radius: 12px;
    padding: 10px;
    background: var(--var-third-color);
    color: var(--var-fourth-color);
    font-size: 20px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    display: block;
    margin:60px auto 30px auto;
}

.story button:hover{
    background: var(--var-primary-color);
    color: var(--var-fourth-color);
    transform: scale(1.1);
}

/* Footer Section Css */
footer{
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:2fr 1.2fr 1fr;
    gap: 30px;
    background: var(--var-secondary-color);
    padding: 80px 115px 60px 85px;
}

footer h5{
    font-size: 24px;
    line-height: auto;
    font-weight: 700;
    color: var(--var-fourth-color);
    padding: 0 0 18px 0;
}

footer ul{
    list-style: none;
}

footer ul li{
    padding: 0 0 10px 0;
}

footer ul li a{
    text-decoration: none;
    color: var(--var-fourth-color);
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

footer ul li a:hover{
    color: var(--var-primary-color);
    font-weight: 600;
}

footer .social{
    gap: 10px;
}

footer .social img{
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    transition: transform 1s ease-in-out;
}

footer .social img:hover{
    transform: scale(1.1);
}

.footer-logo{
    max-width: 300px;
    height: 82px;
    gap: 10px;
}

.footer-logo img{
    width: 83px;
    height: 82px;
    background-size: cover;
}

.footer-logo h3{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    color: var(--var-fourth-color);
    margin: 8px 0 0 0;
}

footer .content p{
    display: block;
    width:399px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--var-fourth-color);
    padding: 20px 0 0 10px;
}



























/*Media Query */
@media only screen and (max-width: 768px) {  
    nav>.nav-width{
        width: 100%;
        padding: 0 15px;
    }

    nav .logo img{
        width: 42px;
        height: 42px;
    }

    nav .logo h3{
        display: none;
    }

    nav .links ul li{
        display: none;
    }

    nav .buttons button{
        display: none;
    }

    nav .buttons i{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .hero{
        width: 100%;
        grid-template-areas: 
            'image'
            'content';
        gap: 0px;
        padding:0 15px;
    }

    .hero .img {
        width: 100%;
        height: 413px;        
        display: flex;
        justify-content: center;
    }

    .hero-content{
        padding: 20px 0 20px 0;
    }

    .hero-content h1{
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    
    .hero-content p{
        font-size: 14px;
        line-height: auto;
        text-align: center;
        padding: 15px 0;
    }

    .hero-content button{
        width:131px;
        height:42px;
        display: block;
        margin: 0 auto;
        font-size: 14px;
    }

    
    .Cur h1{
        font-size:26px;
        line-height: 38px;
    }

    .Cur-content{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .Cur-content .content {
        max-width: 100%;
        min-height: 321px;
        padding: 30px 15px;
    }

    .Cur-content .content img {
        width: 92px;
        height: 92px;
        background-size: cover;
        border-radius: 16px 16px 0 0;
        display: block;
        margin: 0 auto;
    }

    .Cur-content .content h3{
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        margin: 20px 10px 15px 10px;
    }

    .Cur-content .content p {
        font-size: 11px;
        line-height: 21px;
        margin: 0px 20px 40px 20px;
    }

    .story{
        padding: 35px 15px;
    }

    .story h1{
        font-size:26px;
        line-height: 38px;
    }
    
    .story-content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
        margin: 0 auto;
    }    

    .story-content .content-box .box{
        max-width: 100%;
        min-height:270px;
    }

    
    .story-content .content-box .box h3{
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
        margin: 0px 10px 30px 10px;
    }

    .story-content .content-box .box span {
        width: 105px;
        height: 22px;
        font-size: 10px;
        line-height: 22px;
        margin: -15px 20px 30px 15px;
    }

    .story-content .content{
        display: none;
    }

    footer{
        max-width: 100%;
        height: auto;
        display: grid;
        grid-template-columns:1fr;
        gap: 30px;
        background: var(--var-secondary-color);
        padding: 60px 15px 60px 15px;
    }

    .footer-logo img{
        width: 70px;
        height: 70px;
    }
    
    .footer-logo h3{
        font-size: 35px;
        line-height: 35px;
    }

    
    .footer-logo{
        max-width: 100%;
        height: 70px;
        gap: 10px;
    }
    
    footer .content p{
        display: block;
        width:100%;
        font-size: 16px;
        line-height: 28px;
        padding: 20px 0 0 0;
    }
}
